@media only screen and (max-width: 420px) {
    #title3Dis {
        font-size: 2.5vw;
    }

    .teamPic {
        width: 100% !important;
    }

    .teamD h2 {
        font-size: 20px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .teamD h4 {
        font-size: 15px;
    }

    .mapouter {
        height: 70% !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    #locT {

        top: 11.5% !important;
    }

    .gmap_canvas {
        height: 70% !important;
        width: 85% !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    #locationDIV {
        height: 130vw !important;
    }

    #gmap_canvas {
        width: 85% !important;
    }

    #signIMG {
        height: 100% !important;
    }

    #satS, #sunS {
        width: 100% !important;
        float: none !important;
        display: block !important;
        padding: 0 20px !important;
    }

    #satS > span:nth-child(1) {
        font-size: 30px !important;
        display: block;
    }

    #satS > span:nth-child(2) {
        font-size: 27px !important;
        padding-left: 0 !important;
    }

    #satS h4, #sunS h4 {
        font-size: 4vw !important;
        padding: 0 !important;
    }


    #home-page {
        width: 100% !important;
        float: none !important;
        padding-top: 0 !important;
    }


    #logo-anim {
        width: 65vw !important;
        /*height: 38vh !important;*/
        bottom: 0px !important;
        left: calc(50% - 65vw / 2) !important;
        margin: 0 auto !important;
    }

    #sponsorusDiv {
        font-size: 3vw;
    }

    #registerButton {
        height: 10vh;
        width: 70vw;
        font-size: 1em;
    }

    #devpostButton {
        height: 10vh;
        width: 70vw;
        font-size: 1em;
    }

    #about > div > section:nth-child(2) > h1 {
        font-size: 40px;
    }

    #titleDis {
        font-size: 2em !important;
    }

    #title2Dis {
        font-size: 1.5em !important;
    }

    .rw-wrapper > h1 {
        font-size: 2em !important;
    }

    .rw-words > span {
        height: 200%;
        font-size: 1.7em !important;
    }

    #sponsorText {
        font-size: 1.7em;
    }


    .tier1-2 {
        height: 60vw !important;
        width: 90vw !important;
    }

    .tier1-3 {
        height: 60vw !important;
        width: 90vw !important;
    }

    .flip-container, .front, .back {
        height: 30vh !important;
    }

    .faq-text > p {
        font-size: 70% !important;
    }

    .top-holder {
        padding-bottom: 0;
        padding-top: 50px;
    }

    #faq8 > div > div.back {
        flex-direction: column;
        padding: 40px 5vw 35px 5vw !important;
    }

    #faq8 > div > div > a.btn {
        margin: 0;
        font-size: 3.5vw;
        height: 9vw;
        width: 50vw;
    }
}